# Wrangling of Accident Claims Data 2011-2017 - active claims - Julia

In [1]:
using Pkg

In [2]:
Pkg.update()

   Updating registry at `~/.julia/registries/General`
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`

In [3]:
#Pkg.add("Queryverse")
#Pkg.add("DataFrames")
#Pkg.add("Query")

In [4]:
using Queryverse, DataFrames, Query

In [5]:
Pkg.add("CSV")

  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`

In [6]:
using CSV

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1278

In [7]:
active_claims_csv = load("active_claimsCSV.csv")

ErrorException: File has multiple column headers with the same name, specify `colnames` by hand
along with `header_exists=false`

In [8]:
names_variables = ["features", "2011", "2012", "2013", "2014", "2015", "2016", "2017"]

active_claims_csv = CSV.File("active_claimsCSV.csv", skipto=5, header = names_variables) |> DataFrame

66×8 DataFrame. Omitted printing of 3 columns
│ Row │ features              │ 2011    │ 2012    │ 2013    │ 2014    │
│     │ String?               │ String? │ String? │ String? │ String? │
├─────┼───────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ Client gender         │ 2011/12 │ 2012/13 │ 2013/14 │ 2014/15 │
│ 2   │ Female                │ 23,010  │ 22,744  │ 23,365  │ 22,483  │
│ 3   │ Male                  │ 25,948  │ 25,172  │ 25,834  │ 25,058  │
│ 4   │ Client Age            │ missing │ missing │ missing │ missing │
│ 5   │ 00 to 19 Years of age │ 9,303   │ 8,485   │ 8,574   │ 7,916   │
│ 6   │ 20 to 29 Years of age │ 11,318  │ 11,126  │ 11,438  │ 11,103  │
│ 7   │ 30 to 39 Years of age │ 8,029   │ 7,800   │ 7,936   │ 7,733   │
│ 8   │ 40 to 49 Years of age │ 8,415   │ 8,255   │ 8,345   │ 8,032   │
│ 9   │ 50 to 59 Years of age │ 6,030   │ 6,194   │ 6,506   │ 6,614   │
│ 10  │ 60 to 69 Years of age │ 3,264   │ 3,379   │ 3,572   │ 3,566   │
⋮
│ 56  │ Canterbury            │ 6,613   │ 6,341   │ 6,601   │ 6,430   │
│ 57  │ West Coast            │ 476     │ 459     │ 477     │ 448     │
│ 58  │ Otago                 │ 2,128   │ 2,005   │ 2,074   │ 2,064   │
│ 59  │ Southland             │ 945     │ 931     │ 901     │ 859     │
│ 60  │ Other                 │ 417     │ 416     │ 456     │ 518     │
│ 61  │ Unknown               │ 3,628   │ 3,413   │ 3,430   │ 3,409   │
│ 62  │ missing               │ missing │ missing │ missing │ missing │
│ 63  │ missing               │ missing │ missing │ missing │ missing │
│ 64  │ missing               │ missing │ missing │ missing │ missing │
│ 65  │ missing               │ missing │ missing │ missing │ missing │
│ 66  │ missing               │ missing │ missing │ missing │ missing │

In [9]:
#make wide tibble of gender by years 
gender_df = active_claims_csv[2:3, :]

2×8 DataFrame. Omitted printing of 1 columns
│ Row │ features │ 2011    │ 2012    │ 2013    │ 2014    │ 2015    │ 2016    │
│     │ String?  │ String? │ String? │ String? │ String? │ String? │ String? │
├─────┼──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ Female   │ 23,010  │ 22,744  │ 23,365  │ 22,483  │ 23,157  │ 24,402  │
│ 2   │ Male     │ 25,948  │ 25,172  │ 25,834  │ 25,058  │ 25,433  │ 26,621  │

In [10]:
#make wide tibble of age ranges by years 
age_df = active_claims_csv[5:12, :]

8×8 DataFrame. Omitted printing of 3 columns
│ Row │ features              │ 2011    │ 2012    │ 2013    │ 2014    │
│     │ String?               │ String? │ String? │ String? │ String? │
├─────┼───────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 00 to 19 Years of age │ 9,303   │ 8,485   │ 8,574   │ 7,916   │
│ 2   │ 20 to 29 Years of age │ 11,318  │ 11,126  │ 11,438  │ 11,103  │
│ 3   │ 30 to 39 Years of age │ 8,029   │ 7,800   │ 7,936   │ 7,733   │
│ 4   │ 40 to 49 Years of age │ 8,415   │ 8,255   │ 8,345   │ 8,032   │
│ 5   │ 50 to 59 Years of age │ 6,030   │ 6,194   │ 6,506   │ 6,614   │
│ 6   │ 60 to 69 Years of age │ 3,264   │ 3,379   │ 3,572   │ 3,566   │
│ 7   │ 70 to 79 Years of age │ 1,653   │ 1,745   │ 1,823   │ 1,662   │
│ 8   │ 80 Years and older    │ 946     │ 932     │ 1,005   │ 915     │

In [11]:
gender_df[1:8, :features] |> ages = "00-19"

LoadError: syntax: "gender_df[1:8, :features]" is not a valid function argument name around In[11]:1

In [12]:
#make wide tibble of ethnicity by years 
ethnicity_df = active_claims_csv[14:18, :]

5×8 DataFrame. Omitted printing of 3 columns
│ Row │ features                      │ 2011    │ 2012    │ 2013    │ 2014    │
│     │ Union{Missing, String}        │ String? │ String? │ String? │ String? │
├─────┼───────────────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ Asian                         │ 3,281   │ 3,376   │ 3,533   │ 3,570   │
│ 2   │ European                      │ 33,137  │ 32,324  │ 33,100  │ 31,964  │
│ 3   │ Maori                         │ 6,887   │ 6,695   │ 6,859   │ 6,615   │
│ 4   │ Other Ethnicities /Not stated │ 3,707   │ 3,599   │ 3,632   │ 3,406   │
│ 5   │ Pacific Peoples               │ 1,946   │ 1,922   │ 2,075   │ 1,986   │

In [13]:
#make wide tibble of months by years 
months_df = active_claims_csv[20:31, :]

12×8 DataFrame. Omitted printing of 1 columns
│ Row │ features  │ 2011    │ 2012    │ 2013    │ 2014    │ 2015    │ 2016    │
│     │ String?   │ String? │ String? │ String? │ String? │ String? │ String? │
├─────┼───────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ January   │ 12,004  │ 11,750  │ 12,035  │ 11,497  │ 11,872  │ 12,817  │
│ 2   │ February  │ 12,521  │ 11,957  │ 12,276  │ 12,112  │ 12,894  │ 13,375  │
│ 3   │ March     │ 13,474  │ 12,645  │ 12,724  │ 13,322  │ 13,924  │ 14,905  │
│ 4   │ April     │ 12,078  │ 13,393  │ 12,929  │ 12,898  │ 13,562  │ 13,801  │
│ 5   │ May       │ 13,810  │ 13,387  │ 13,694  │ 13,063  │ 13,965  │ 14,734  │
│ 6   │ June      │ 13,128  │ 12,792  │ 13,132  │ 13,278  │ 14,426  │ 14,533  │
│ 7   │ July      │ 13,372  │ 13,183  │ 13,566  │ 13,777  │ 13,479  │ 14,074  │
│ 8   │ August    │ 13,266  │ 13,184  │ 13,111  │ 12,962  │ 12,978  │ 14,270  │
│ 9   │ September │ 13,495  │ 12,484  │ 12,761  │ 13,211  │ 13,460  │ 13,966  │
│ 10  │ October   │ 12,720  │ 12,562  │ 13,006  │ 13,358  │ 13,259  │ 13,684  │
│ 11  │ November  │ 13,523  │ 12,949  │ 13,043  │ 12,717  │ 13,029  │ 14,139  │
│ 12  │ December  │ 12,970  │ 12,484  │ 13,142  │ 13,440  │ 14,033  │ 14,428  │

In [14]:
#make wide tibble of road factor by years 
road_factor_df = active_claims_csv[33:42, :]

10×8 DataFrame. Omitted printing of 3 columns
│ Row │ features                       │ 2011    │ 2012    │ 2013    │ 2014    │
│     │ Union{Missing, String}         │ String? │ String? │ String? │ String? │
├─────┼────────────────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ ATV                            │ 20      │ 24      │ 42      │ 47      │
│ 2   │ Cycling                        │ 2,470   │ 2,501   │ 2,508   │ 2,318   │
│ 3   │ Driving/Passenger - Bus        │ 730     │ 741     │ 674     │ 668     │
│ 4   │ Driving/Passenger - Car        │ 32,777  │ 32,004  │ 32,970  │ 31,661  │
│ 5   │ Driving/Passenger - Motorcycle │ 7,113   │ 6,933   │ 7,099   │ 7,247   │
│ 6   │ Driving/Passenger - Truck      │ 1,044   │ 990     │ 1,056   │ 991     │
│ 7   │ Driving/Passenger-Other Veh    │ 868     │ 989     │ 1,106   │ 1,062   │
│ 8   │ Not Obtainable                 │ 399     │ 388     │ 420     │ 377     │
│ 9   │ Other                          │ 196     │ 231     │ 273     │ 255     │
│ 10  │ Pedestrian                     │ 3,341   │ 3,115   │ 3,051   │ 2,915   │

In [15]:
#make wide tibble of region by years 
region_df = active_claims_csv[44:61, :]

18×8 DataFrame. Omitted printing of 2 columns
│ Row │ features          │ 2011    │ 2012    │ 2013    │ 2014    │ 2015    │
│     │ String?           │ String? │ String? │ String? │ String? │ String? │
├─────┼───────────────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ Northland         │ 2,168   │ 2,296   │ 2,301   │ 2,228   │ 2,293   │
│ 2   │ Auckland          │ 13,615  │ 13,612  │ 14,141  │ 13,694  │ 14,678  │
│ 3   │ Waikato           │ 4,954   │ 5,021   │ 5,149   │ 5,024   │ 5,093   │
│ 4   │ Bay of Plenty     │ 2,769   │ 2,775   │ 2,788   │ 2,613   │ 2,810   │
│ 5   │ Gisborne          │ 472     │ 482     │ 490     │ 482     │ 442     │
│ 6   │ Hawkes Bay        │ 1,846   │ 1,754   │ 1,810   │ 1,641   │ 1,623   │
│ 7   │ Taranaki          │ 1,115   │ 1,090   │ 1,104   │ 1,041   │ 1,041   │
│ 8   │ Manawatu-Wanganui │ 2,780   │ 2,568   │ 2,647   │ 2,549   │ 2,503   │
│ 9   │ Wellington        │ 3,706   │ 3,462   │ 3,465   │ 3,287   │ 3,213   │
│ 10  │ Tasman            │ 359     │ 363     │ 372     │ 324     │ 329     │
│ 11  │ Nelson            │ 547     │ 538     │ 574     │ 543     │ 595     │
│ 12  │ Marlborough       │ 420     │ 390     │ 419     │ 387     │ 396     │
│ 13  │ Canterbury        │ 6,613   │ 6,341   │ 6,601   │ 6,430   │ 6,242   │
│ 14  │ West Coast        │ 476     │ 459     │ 477     │ 448     │ 460     │
│ 15  │ Otago             │ 2,128   │ 2,005   │ 2,074   │ 2,064   │ 2,171   │
│ 16  │ Southland         │ 945     │ 931     │ 901     │ 859     │ 891     │
│ 17  │ Other             │ 417     │ 416     │ 456     │ 518     │ 547     │
│ 18  │ Unknown           │ 3,628   │ 3,413   │ 3,430   │ 3,409   │ 3,263   │

In [16]:
# Convert wide age_df to long
age_long_df = stack(age_df, 2:8, :features, variable_name= "years", value_name= "active_claims")

56×3 DataFrame
│ Row │ features              │ years │ active_claims │
│     │ String?               │ Cat…  │ String?       │
├─────┼───────────────────────┼───────┼───────────────┤
│ 1   │ 00 to 19 Years of age │ 2011  │ 9,303         │
│ 2   │ 20 to 29 Years of age │ 2011  │ 11,318        │
│ 3   │ 30 to 39 Years of age │ 2011  │ 8,029         │
│ 4   │ 40 to 49 Years of age │ 2011  │ 8,415         │
│ 5   │ 50 to 59 Years of age │ 2011  │ 6,030         │
│ 6   │ 60 to 69 Years of age │ 2011  │ 3,264         │
│ 7   │ 70 to 79 Years of age │ 2011  │ 1,653         │
│ 8   │ 80 Years and older    │ 2011  │ 946           │
│ 9   │ 00 to 19 Years of age │ 2012  │ 8,485         │
│ 10  │ 20 to 29 Years of age │ 2012  │ 11,126        │
⋮
│ 46  │ 60 to 69 Years of age │ 2016  │ 3,952         │
│ 47  │ 70 to 79 Years of age │ 2016  │ 1,967         │
│ 48  │ 80 Years and older    │ 2016  │ 972           │
│ 49  │ 00 to 19 Years of age │ 2017  │ 8,291         │
│ 50  │ 20 to 29 Years of age │ 2017  │ 12,311        │
│ 51  │ 30 to 39 Years of age │ 2017  │ 8,627         │
│ 52  │ 40 to 49 Years of age │ 2017  │ 8,408         │
│ 53  │ 50 to 59 Years of age │ 2017  │ 7,262         │
│ 54  │ 60 to 69 Years of age │ 2017  │ 4,244         │
│ 55  │ 70 to 79 Years of age │ 2017  │ 2,096         │
│ 56  │ 80 Years and older    │ 2017  │ 965           │

In [17]:
# Convert wide gender_df to long
gender_long_df = stack(gender_df, 2:8, :features, variable_name= "years", value_name= "active_claims")

14×3 DataFrame
│ Row │ features │ years │ active_claims │
│     │ String?  │ Cat…  │ String?       │
├─────┼──────────┼───────┼───────────────┤
│ 1   │ Female   │ 2011  │ 23,010        │
│ 2   │ Male     │ 2011  │ 25,948        │
│ 3   │ Female   │ 2012  │ 22,744        │
│ 4   │ Male     │ 2012  │ 25,172        │
│ 5   │ Female   │ 2013  │ 23,365        │
│ 6   │ Male     │ 2013  │ 25,834        │
│ 7   │ Female   │ 2014  │ 22,483        │
│ 8   │ Male     │ 2014  │ 25,058        │
│ 9   │ Female   │ 2015  │ 23,157        │
│ 10  │ Male     │ 2015  │ 25,433        │
│ 11  │ Female   │ 2016  │ 24,402        │
│ 12  │ Male     │ 2016  │ 26,621        │
│ 13  │ Female   │ 2017  │ 24,957        │
│ 14  │ Male     │ 2017  │ 27,247        │

In [18]:
# Convert wide ethnicity_df to long

ethnicity_long_df = stack(ethnicity_df, 2:8, :features, variable_name= "years", value_name= "active_claims")

35×3 DataFrame
│ Row │ features                      │ years │ active_claims │
│     │ Union{Missing, String}        │ Cat…  │ String?       │
├─────┼───────────────────────────────┼───────┼───────────────┤
│ 1   │ Asian                         │ 2011  │ 3,281         │
│ 2   │ European                      │ 2011  │ 33,137        │
│ 3   │ Maori                         │ 2011  │ 6,887         │
│ 4   │ Other Ethnicities /Not stated │ 2011  │ 3,707         │
│ 5   │ Pacific Peoples               │ 2011  │ 1,946         │
│ 6   │ Asian                         │ 2012  │ 3,376         │
│ 7   │ European                      │ 2012  │ 32,324        │
│ 8   │ Maori                         │ 2012  │ 6,695         │
│ 9   │ Other Ethnicities /Not stated │ 2012  │ 3,599         │
│ 10  │ Pacific Peoples               │ 2012  │ 1,922         │
⋮
│ 25  │ Pacific Peoples               │ 2015  │ 2,100         │
│ 26  │ Asian                         │ 2016  │ 4,247         │
│ 27  │ European                      │ 2016  │ 33,858        │
│ 28  │ Maori                         │ 2016  │ 7,343         │
│ 29  │ Other Ethnicities /Not stated │ 2016  │ 3,291         │
│ 30  │ Pacific Peoples               │ 2016  │ 2,284         │
│ 31  │ Asian                         │ 2017  │ 4,646         │
│ 32  │ European                      │ 2017  │ 34,186        │
│ 33  │ Maori                         │ 2017  │ 7,601         │
│ 34  │ Other Ethnicities /Not stated │ 2017  │ 3,401         │
│ 35  │ Pacific Peoples               │ 2017  │ 2,370         │

In [19]:
# Convert wide months_df to long

months_long_df = stack(months_df, 2:8, :features, variable_name= "years", value_name= "active_claims")

84×3 DataFrame
│ Row │ features  │ years │ active_claims │
│     │ String?   │ Cat…  │ String?       │
├─────┼───────────┼───────┼───────────────┤
│ 1   │ January   │ 2011  │ 12,004        │
│ 2   │ February  │ 2011  │ 12,521        │
│ 3   │ March     │ 2011  │ 13,474        │
│ 4   │ April     │ 2011  │ 12,078        │
│ 5   │ May       │ 2011  │ 13,810        │
│ 6   │ June      │ 2011  │ 13,128        │
│ 7   │ July      │ 2011  │ 13,372        │
│ 8   │ August    │ 2011  │ 13,266        │
│ 9   │ September │ 2011  │ 13,495        │
│ 10  │ October   │ 2011  │ 12,720        │
⋮
│ 74  │ February  │ 2017  │ 13,865        │
│ 75  │ March     │ 2017  │ 15,011        │
│ 76  │ April     │ 2017  │ 14,844        │
│ 77  │ May       │ 2017  │ 15,808        │
│ 78  │ June      │ 2017  │ 15,236        │
│ 79  │ July      │ 2017  │ 14,255        │
│ 80  │ August    │ 2017  │ 14,914        │
│ 81  │ September │ 2017  │ 14,409        │
│ 82  │ October   │ 2017  │ 14,464        │
│ 83  │ November  │ 2017  │ 14,624        │
│ 84  │ December  │ 2017  │ 14,789        │

In [20]:
# Convert wide road_factor_df to long

road_factor_long_df = stack(road_factor_df, 2:8, :features, variable_name= "years", value_name= "active_claims")

70×3 DataFrame
│ Row │ features                       │ years │ active_claims │
│     │ Union{Missing, String}         │ Cat…  │ String?       │
├─────┼────────────────────────────────┼───────┼───────────────┤
│ 1   │ ATV                            │ 2011  │ 20            │
│ 2   │ Cycling                        │ 2011  │ 2,470         │
│ 3   │ Driving/Passenger - Bus        │ 2011  │ 730           │
│ 4   │ Driving/Passenger - Car        │ 2011  │ 32,777        │
│ 5   │ Driving/Passenger - Motorcycle │ 2011  │ 7,113         │
│ 6   │ Driving/Passenger - Truck      │ 2011  │ 1,044         │
│ 7   │ Driving/Passenger-Other Veh    │ 2011  │ 868           │
│ 8   │ Not Obtainable                 │ 2011  │ 399           │
│ 9   │ Other                          │ 2011  │ 196           │
│ 10  │ Pedestrian                     │ 2011  │ 3,341         │
⋮
│ 60  │ Pedestrian                     │ 2016  │ 2,984         │
│ 61  │ ATV                            │ 2017  │ 52            │
│ 62  │ Cycling                        │ 2017  │ 2,182         │
│ 63  │ Driving/Passenger - Bus        │ 2017  │ 767           │
│ 64  │ Driving/Passenger - Car        │ 2017  │ 34,122        │
│ 65  │ Driving/Passenger - Motorcycle │ 2017  │ 7,589         │
│ 66  │ Driving/Passenger - Truck      │ 2017  │ 1,111         │
│ 67  │ Driving/Passenger-Other Veh    │ 2017  │ 2,584         │
│ 68  │ Not Obtainable                 │ 2017  │ 511           │
│ 69  │ Other                          │ 2017  │ 282           │
│ 70  │ Pedestrian                     │ 2017  │ 3,004         │

In [21]:
# Convert wide region_df to long
region_long_df = stack(region_df, 2:8, :features, variable_name= "years", value_name= "active_claims")

126×3 DataFrame
│ Row │ features          │ years │ active_claims │
│     │ String?           │ Cat…  │ String?       │
├─────┼───────────────────┼───────┼───────────────┤
│ 1   │ Northland         │ 2011  │ 2,168         │
│ 2   │ Auckland          │ 2011  │ 13,615        │
│ 3   │ Waikato           │ 2011  │ 4,954         │
│ 4   │ Bay of Plenty     │ 2011  │ 2,769         │
│ 5   │ Gisborne          │ 2011  │ 472           │
│ 6   │ Hawkes Bay        │ 2011  │ 1,846         │
│ 7   │ Taranaki          │ 2011  │ 1,115         │
│ 8   │ Manawatu-Wanganui │ 2011  │ 2,780         │
│ 9   │ Wellington        │ 2011  │ 3,706         │
│ 10  │ Tasman            │ 2011  │ 359           │
⋮
│ 116 │ Manawatu-Wanganui │ 2017  │ 2,593         │
│ 117 │ Wellington        │ 2017  │ 3,640         │
│ 118 │ Tasman            │ 2017  │ 375           │
│ 119 │ Nelson            │ 2017  │ 605           │
│ 120 │ Marlborough       │ 2017  │ 458           │
│ 121 │ Canterbury        │ 2017  │ 6,191         │
│ 122 │ West Coast        │ 2017  │ 462           │
│ 123 │ Otago             │ 2017  │ 2,404         │
│ 124 │ Southland         │ 2017  │ 1,036         │
│ 125 │ Other             │ 2017  │ 618           │
│ 126 │ Unknown           │ 2017  │ 3,050         │

# Wrangling of Accident Claims Data 2011-2017 - New Claims

In [22]:
# wide df for new claims

#gender_df2
#age_df2 
#ethnicity_df2 
#months_df2 
#road_factor_df2
#region_df2

# long df for new claims

#gender_long_df2
#age_long_df2 
#ethnicity_long_df2 
#months_long_df2 
#road_factor_long_df2
#region_long_df2

In [23]:
names_variables = ["features", "2011", "2012", "2013", "2014", "2015", "2016", "2017"]

new_claims_csv = CSV.File("NewClaims.csv", skipto=5, header = names_variables) |> DataFrame

thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 5. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 6. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 7. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 8. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 9. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 10. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 11. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 12. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 13. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 14. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 15. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 16. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 17. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 18. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 19. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 20. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 21. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 22. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 23. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 24. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 25. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 26. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 27. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 28. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 29. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 30. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 31. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 32. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 33. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 34. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 35. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 36. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 37. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 38. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 39. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 40. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 41. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 42. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 43. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 44. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 45. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 46. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 47. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 48. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 49. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 50. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 51. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 52. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 53. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 54. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 55. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 56. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 57. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 58. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 59. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 60. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 61. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 62. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 63. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 64. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 8 columns, but didn't reach end of line around data row: 65. Ignoring any extra columns on this row

61×8 DataFrame. Omitted printing of 3 columns
│ Row │ features              │ 2011    │ 2012    │ 2013    │ 2014    │
│     │ String?               │ String? │ String? │ String? │ String? │
├─────┼───────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ Client gender         │ 2011/12 │ 2012/13 │ 2013/14 │ 2014/15 │
│ 2   │ Female                │ 16,642  │ 16,321  │ 16,865  │ 16,658  │
│ 3   │ Male                  │ 15,657  │ 15,360  │ 15,580  │ 15,840  │
│ 4   │ Client Age            │ missing │ missing │ missing │ missing │
│ 5   │ 00 to 19 Years of age │ 6,465   │ 5,863   │ 5,932   │ 5,780   │
│ 6   │ 20 to 29 Years of age │ 7,562   │ 7,438   │ 7,528   │ 7,802   │
│ 7   │ 30 to 39 Years of age │ 4,650   │ 4,594   │ 4,706   │ 4,719   │
│ 8   │ 40 to 49 Years of age │ 5,170   │ 5,108   │ 5,104   │ 4,958   │
│ 9   │ 50 to 59 Years of age │ 4,034   │ 4,094   │ 4,305   │ 4,454   │
│ 10  │ 60 to 69 Years of age │ 2,379   │ 2,452   │ 2,612   │ 2,673   │
⋮
│ 51  │ Manawatu-Wanganui     │ 1,739   │ 1,599   │ 1,629   │ 1,720   │
│ 52  │ Wellington            │ 2,679   │ 2,492   │ 2,515   │ 2,383   │
│ 53  │ Tasman                │ 246     │ 286     │ 276     │ 217     │
│ 54  │ Nelson                │ 363     │ 352     │ 402     │ 395     │
│ 55  │ Marlborough           │ 329     │ 261     │ 317     │ 307     │
│ 56  │ Canterbury            │ 4,812   │ 4,720   │ 4,835   │ 4,924   │
│ 57  │ West Coast            │ 346     │ 301     │ 322     │ 301     │
│ 58  │ Otago                 │ 1,479   │ 1,442   │ 1,450   │ 1,516   │
│ 59  │ Southland             │ 677     │ 627     │ 618     │ 692     │
│ 60  │ Other                 │ 242     │ 278     │ 277     │ 327     │
│ 61  │ missing               │ missing │ missing │ missing │ missing │

In [24]:
#make wide tibble of gender by years 
gender_df2 = new_claims_csv[2:3, :]

2×8 DataFrame. Omitted printing of 1 columns
│ Row │ features │ 2011    │ 2012    │ 2013    │ 2014    │ 2015    │ 2016    │
│     │ String?  │ String? │ String? │ String? │ String? │ String? │ String? │
├─────┼──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ Female   │ 16,642  │ 16,321  │ 16,865  │ 16,658  │ 18,639  │ 19,488  │
│ 2   │ Male     │ 15,657  │ 15,360  │ 15,580  │ 15,840  │ 17,506  │ 18,390  │

In [25]:
#make wide tibble of age ranges by years 
age_df2 = new_claims_csv[5:12, :]

8×8 DataFrame. Omitted printing of 3 columns
│ Row │ features              │ 2011    │ 2012    │ 2013    │ 2014    │
│     │ String?               │ String? │ String? │ String? │ String? │
├─────┼───────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 00 to 19 Years of age │ 6,465   │ 5,863   │ 5,932   │ 5,780   │
│ 2   │ 20 to 29 Years of age │ 7,562   │ 7,438   │ 7,528   │ 7,802   │
│ 3   │ 30 to 39 Years of age │ 4,650   │ 4,594   │ 4,706   │ 4,719   │
│ 4   │ 40 to 49 Years of age │ 5,170   │ 5,108   │ 5,104   │ 4,958   │
│ 5   │ 50 to 59 Years of age │ 4,034   │ 4,094   │ 4,305   │ 4,454   │
│ 6   │ 60 to 69 Years of age │ 2,379   │ 2,452   │ 2,612   │ 2,673   │
│ 7   │ 70 to 79 Years of age │ 1,259   │ 1,364   │ 1,426   │ 1,351   │
│ 8   │ 80 Years and older    │ 780     │ 768     │ 832     │ 761     │

In [26]:
#make wide tibble of ethnicity by years 
ethnicity_df2 = new_claims_csv[14:18, :]

5×8 DataFrame. Omitted printing of 3 columns
│ Row │ features                      │ 2011    │ 2012    │ 2013    │ 2014    │
│     │ Union{Missing, String}        │ String? │ String? │ String? │ String? │
├─────┼───────────────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ Asian                         │ 2,784   │ 2,917   │ 2,982   │ 3,191   │
│ 2   │ European                      │ 21,170  │ 20,661  │ 21,079  │ 20,784  │
│ 3   │ Maori                         │ 4,450   │ 4,311   │ 4,347   │ 4,564   │
│ 4   │ Other Ethnicities /Not stated │ 2,320   │ 2,271   │ 2,322   │ 2,206   │
│ 5   │ Pacific Peoples               │ 1,575   │ 1,521   │ 1,715   │ 1,753   │

In [27]:
#make wide tibble of months by years 
months_df2 = new_claims_csv[20:31, :]

12×8 DataFrame. Omitted printing of 1 columns
│ Row │ features  │ 2011    │ 2012    │ 2013    │ 2014    │ 2015    │ 2016    │
│     │ String?   │ String? │ String? │ String? │ String? │ String? │ String? │
├─────┼───────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ January   │ 2,416   │ 2,575   │ 2,578   │ 2,420   │ 2,800   │ 2,946   │
│ 2   │ February  │ 2,723   │ 2,549   │ 2,583   │ 2,615   │ 3,048   │ 3,169   │
│ 3   │ March     │ 3,075   │ 2,982   │ 2,928   │ 3,140   │ 3,400   │ 3,633   │
│ 4   │ April     │ 2,510   │ 2,855   │ 2,695   │ 2,643   │ 2,850   │ 2,776   │
│ 5   │ May       │ 2,989   │ 2,853   │ 2,899   │ 2,875   │ 3,513   │ 3,516   │
│ 6   │ June      │ 2,597   │ 2,509   │ 2,808   │ 2,874   │ 3,216   │ 3,207   │
│ 7   │ July      │ 2,652   │ 2,755   │ 2,771   │ 2,750   │ 2,928   │ 3,070   │
│ 8   │ August    │ 2,839   │ 2,565   │ 2,758   │ 2,524   │ 2,843   │ 3,252   │
│ 9   │ September │ 2,679   │ 2,186   │ 2,582   │ 2,580   │ 2,725   │ 2,919   │
│ 10  │ October   │ 2,510   │ 2,574   │ 2,611   │ 2,690   │ 2,616   │ 2,926   │
│ 11  │ November  │ 2,698   │ 2,819   │ 2,685   │ 2,606   │ 3,120   │ 3,283   │
│ 12  │ December  │ 2,611   │ 2,459   │ 2,547   │ 2,781   │ 3,086   │ 3,181   │

In [28]:
#make wide tibble of road factor by years 
road_factor_df2 = new_claims_csv[33:42, :]

10×8 DataFrame. Omitted printing of 3 columns
│ Row │ features                       │ 2011    │ 2012    │ 2013    │ 2014    │
│     │ Union{Missing, String}         │ String? │ String? │ String? │ String? │
├─────┼────────────────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ ATV                            │ 10      │ 18      │ 43      │ 38      │
│ 2   │ Cycling                        │ 1,708   │ 1,747   │ 1,680   │ 1,581   │
│ 3   │ Driving/Passenger - Bus        │ 574     │ 587     │ 556     │ 549     │
│ 4   │ Driving/Passenger - Car        │ 22,939  │ 22,412  │ 23,057  │ 23,234  │
│ 5   │ Driving/Passenger - Motorcycle │ 3,644   │ 3,524   │ 3,687   │ 3,753   │
│ 6   │ Driving/Passenger - Truck      │ 481     │ 494     │ 507     │ 497     │
│ 7   │ Driving/Passenger-Other Veh    │ 618     │ 731     │ 866     │ 819     │
│ 8   │ Not Obtainable                 │ 22      │ 28      │ 22      │ 20      │
│ 9   │ Other                          │ 150     │ 177     │ 205     │ 194     │
│ 10  │ Pedestrian                     │ 2,153   │ 1,963   │ 1,822   │ 1,813   │

In [29]:
#make wide tibble of region by years 
region_df2 = new_claims_csv[44:60, :]

17×8 DataFrame. Omitted printing of 2 columns
│ Row │ features          │ 2011    │ 2012    │ 2013    │ 2014    │ 2015    │
│     │ String?           │ String? │ String? │ String? │ String? │ String? │
├─────┼───────────────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ Northland         │ 1,411   │ 1,488   │ 1,472   │ 1,474   │ 1,624   │
│ 2   │ Auckland          │ 10,461  │ 10,465  │ 10,767  │ 10,708  │ 12,277  │
│ 3   │ Waikato           │ 3,254   │ 3,281   │ 3,434   │ 3,480   │ 3,852   │
│ 4   │ Bay of Plenty     │ 1,931   │ 1,847   │ 1,905   │ 1,867   │ 2,284   │
│ 5   │ Gisborne          │ 312     │ 331     │ 344     │ 352     │ 356     │
│ 6   │ Hawkes Bay        │ 1,190   │ 1,109   │ 1,112   │ 1,062   │ 1,208   │
│ 7   │ Taranaki          │ 828     │ 802     │ 770     │ 773     │ 828     │
│ 8   │ Manawatu-Wanganui │ 1,739   │ 1,599   │ 1,629   │ 1,720   │ 1,792   │
│ 9   │ Wellington        │ 2,679   │ 2,492   │ 2,515   │ 2,383   │ 2,610   │
│ 10  │ Tasman            │ 246     │ 286     │ 276     │ 217     │ 246     │
│ 11  │ Nelson            │ 363     │ 352     │ 402     │ 395     │ 478     │
│ 12  │ Marlborough       │ 329     │ 261     │ 317     │ 307     │ 325     │
│ 13  │ Canterbury        │ 4,812   │ 4,720   │ 4,835   │ 4,924   │ 5,071   │
│ 14  │ West Coast        │ 346     │ 301     │ 322     │ 301     │ 377     │
│ 15  │ Otago             │ 1,479   │ 1,442   │ 1,450   │ 1,516   │ 1,672   │
│ 16  │ Southland         │ 677     │ 627     │ 618     │ 692     │ 775     │
│ 17  │ Other             │ 242     │ 278     │ 277     │ 327     │ 370     │

In [30]:
# Convert wide age_df2 to long
age_long_df2 = stack(age_df2, 2:8, :features, variable_name= "years", value_name= "new_claims")

56×3 DataFrame
│ Row │ features              │ years │ new_claims │
│     │ String?               │ Cat…  │ String?    │
├─────┼───────────────────────┼───────┼────────────┤
│ 1   │ 00 to 19 Years of age │ 2011  │ 6,465      │
│ 2   │ 20 to 29 Years of age │ 2011  │ 7,562      │
│ 3   │ 30 to 39 Years of age │ 2011  │ 4,650      │
│ 4   │ 40 to 49 Years of age │ 2011  │ 5,170      │
│ 5   │ 50 to 59 Years of age │ 2011  │ 4,034      │
│ 6   │ 60 to 69 Years of age │ 2011  │ 2,379      │
│ 7   │ 70 to 79 Years of age │ 2011  │ 1,259      │
│ 8   │ 80 Years and older    │ 2011  │ 780        │
│ 9   │ 00 to 19 Years of age │ 2012  │ 5,863      │
│ 10  │ 20 to 29 Years of age │ 2012  │ 7,438      │
⋮
│ 46  │ 60 to 69 Years of age │ 2016  │ 3,115      │
│ 47  │ 70 to 79 Years of age │ 2016  │ 1,666      │
│ 48  │ 80 Years and older    │ 2016  │ 917        │
│ 49  │ 00 to 19 Years of age │ 2017  │ 6,706      │
│ 50  │ 20 to 29 Years of age │ 2017  │ 9,600      │
│ 51  │ 30 to 39 Years of age │ 2017  │ 5,835      │
│ 52  │ 40 to 49 Years of age │ 2017  │ 5,462      │
│ 53  │ 50 to 59 Years of age │ 2017  │ 5,100      │
│ 54  │ 60 to 69 Years of age │ 2017  │ 3,259      │
│ 55  │ 70 to 79 Years of age │ 2017  │ 1,781      │
│ 56  │ 80 Years and older    │ 2017  │ 853        │

In [31]:
# Convert wide gender_df2 to long
gender_long_df2 = stack(gender_df2, 2:8, :features, variable_name= "years", value_name= "new_claims")

14×3 DataFrame
│ Row │ features │ years │ new_claims │
│     │ String?  │ Cat…  │ String?    │
├─────┼──────────┼───────┼────────────┤
│ 1   │ Female   │ 2011  │ 16,642     │
│ 2   │ Male     │ 2011  │ 15,657     │
│ 3   │ Female   │ 2012  │ 16,321     │
│ 4   │ Male     │ 2012  │ 15,360     │
│ 5   │ Female   │ 2013  │ 16,865     │
│ 6   │ Male     │ 2013  │ 15,580     │
│ 7   │ Female   │ 2014  │ 16,658     │
│ 8   │ Male     │ 2014  │ 15,840     │
│ 9   │ Female   │ 2015  │ 18,639     │
│ 10  │ Male     │ 2015  │ 17,506     │
│ 11  │ Female   │ 2016  │ 19,488     │
│ 12  │ Male     │ 2016  │ 18,390     │
│ 13  │ Female   │ 2017  │ 19,704     │
│ 14  │ Male     │ 2017  │ 18,892     │

In [32]:
# Convert wide ethnicity_df2 to long

ethnicity_long_df2 = stack(ethnicity_df2, 2:8, :features, variable_name= "years", value_name= "new_claims")

35×3 DataFrame
│ Row │ features                      │ years │ new_claims │
│     │ Union{Missing, String}        │ Cat…  │ String?    │
├─────┼───────────────────────────────┼───────┼────────────┤
│ 1   │ Asian                         │ 2011  │ 2,784      │
│ 2   │ European                      │ 2011  │ 21,170     │
│ 3   │ Maori                         │ 2011  │ 4,450      │
│ 4   │ Other Ethnicities /Not stated │ 2011  │ 2,320      │
│ 5   │ Pacific Peoples               │ 2011  │ 1,575      │
│ 6   │ Asian                         │ 2012  │ 2,917      │
│ 7   │ European                      │ 2012  │ 20,661     │
│ 8   │ Maori                         │ 2012  │ 4,311      │
│ 9   │ Other Ethnicities /Not stated │ 2012  │ 2,271      │
│ 10  │ Pacific Peoples               │ 2012  │ 1,521      │
⋮
│ 25  │ Pacific Peoples               │ 2015  │ 2,049      │
│ 26  │ Asian                         │ 2016  │ 4,042      │
│ 27  │ European                      │ 2016  │ 23,416     │
│ 28  │ Maori                         │ 2016  │ 5,842      │
│ 29  │ Other Ethnicities /Not stated │ 2016  │ 2,368      │
│ 30  │ Pacific Peoples               │ 2016  │ 2,210      │
│ 31  │ Asian                         │ 2017  │ 4,401      │
│ 32  │ European                      │ 2017  │ 23,420     │
│ 33  │ Maori                         │ 2017  │ 6,015      │
│ 34  │ Other Ethnicities /Not stated │ 2017  │ 2,596      │
│ 35  │ Pacific Peoples               │ 2017  │ 2,164      │

In [33]:
# Convert wide months_df2 to long

months_long_df2 = stack(months_df2, 2:8, :features, variable_name= "years", value_name= "new_claims")

84×3 DataFrame
│ Row │ features  │ years │ new_claims │
│     │ String?   │ Cat…  │ String?    │
├─────┼───────────┼───────┼────────────┤
│ 1   │ January   │ 2011  │ 2,416      │
│ 2   │ February  │ 2011  │ 2,723      │
│ 3   │ March     │ 2011  │ 3,075      │
│ 4   │ April     │ 2011  │ 2,510      │
│ 5   │ May       │ 2011  │ 2,989      │
│ 6   │ June      │ 2011  │ 2,597      │
│ 7   │ July      │ 2011  │ 2,652      │
│ 8   │ August    │ 2011  │ 2,839      │
│ 9   │ September │ 2011  │ 2,679      │
│ 10  │ October   │ 2011  │ 2,510      │
⋮
│ 74  │ February  │ 2017  │ 3,387      │
│ 75  │ March     │ 2017  │ 3,400      │
│ 76  │ April     │ 2017  │ 3,045      │
│ 77  │ May       │ 2017  │ 3,707      │
│ 78  │ June      │ 2017  │ 3,182      │
│ 79  │ July      │ 2017  │ 3,155      │
│ 80  │ August    │ 2017  │ 3,238      │
│ 81  │ September │ 2017  │ 3,108      │
│ 82  │ October   │ 2017  │ 3,028      │
│ 83  │ November  │ 2017  │ 3,190      │
│ 84  │ December  │ 2017  │ 3,021      │

In [34]:
# Convert wide road_factor_df to long

road_factor_long_df2 = stack(road_factor_df2, 2:8, :features, variable_name= "years", value_name= "new_claims")

70×3 DataFrame
│ Row │ features                       │ years │ new_claims │
│     │ Union{Missing, String}         │ Cat…  │ String?    │
├─────┼────────────────────────────────┼───────┼────────────┤
│ 1   │ ATV                            │ 2011  │ 10         │
│ 2   │ Cycling                        │ 2011  │ 1,708      │
│ 3   │ Driving/Passenger - Bus        │ 2011  │ 574        │
│ 4   │ Driving/Passenger - Car        │ 2011  │ 22,939     │
│ 5   │ Driving/Passenger - Motorcycle │ 2011  │ 3,644      │
│ 6   │ Driving/Passenger - Truck      │ 2011  │ 481        │
│ 7   │ Driving/Passenger-Other Veh    │ 2011  │ 618        │
│ 8   │ Not Obtainable                 │ 2011  │ 22         │
│ 9   │ Other                          │ 2011  │ 150        │
│ 10  │ Pedestrian                     │ 2011  │ 2,153      │
⋮
│ 60  │ Pedestrian                     │ 2016  │ 2,017      │
│ 61  │ ATV                            │ 2017  │ 45         │
│ 62  │ Cycling                        │ 2017  │ 1,461      │
│ 63  │ Driving/Passenger - Bus        │ 2017  │ 587        │
│ 64  │ Driving/Passenger - Car        │ 2017  │ 26,712     │
│ 65  │ Driving/Passenger - Motorcycle │ 2017  │ 4,205      │
│ 66  │ Driving/Passenger - Truck      │ 2017  │ 613        │
│ 67  │ Driving/Passenger-Other Veh    │ 2017  │ 2,581      │
│ 68  │ Not Obtainable                 │ 2017  │ 198        │
│ 69  │ Other                          │ 2017  │ 210        │
│ 70  │ Pedestrian                     │ 2017  │ 1,984      │

In [35]:
# Convert wide region_df2 to long
region_long_df2 = stack(region_df2, 2:8, :features, variable_name= "years", value_name= "new_claims")

119×3 DataFrame
│ Row │ features          │ years │ new_claims │
│     │ String?           │ Cat…  │ String?    │
├─────┼───────────────────┼───────┼────────────┤
│ 1   │ Northland         │ 2011  │ 1,411      │
│ 2   │ Auckland          │ 2011  │ 10,461     │
│ 3   │ Waikato           │ 2011  │ 3,254      │
│ 4   │ Bay of Plenty     │ 2011  │ 1,931      │
│ 5   │ Gisborne          │ 2011  │ 312        │
│ 6   │ Hawkes Bay        │ 2011  │ 1,190      │
│ 7   │ Taranaki          │ 2011  │ 828        │
│ 8   │ Manawatu-Wanganui │ 2011  │ 1,739      │
│ 9   │ Wellington        │ 2011  │ 2,679      │
│ 10  │ Tasman            │ 2011  │ 246        │
⋮
│ 109 │ Taranaki          │ 2017  │ 896        │
│ 110 │ Manawatu-Wanganui │ 2017  │ 1,945      │
│ 111 │ Wellington        │ 2017  │ 2,873      │
│ 112 │ Tasman            │ 2017  │ 281        │
│ 113 │ Nelson            │ 2017  │ 446        │
│ 114 │ Marlborough       │ 2017  │ 404        │
│ 115 │ Canterbury        │ 2017  │ 5,095      │
│ 116 │ West Coast        │ 2017  │ 374        │
│ 117 │ Otago             │ 2017  │ 1,955      │
│ 118 │ Southland         │ 2017  │ 849        │
│ 119 │ Other             │ 2017  │ 344        │

## Joining Active Claims and New Claims dataframes to form a single dataframe
#gender
#age 
#ethnicity 
#month
#road
#region

In [36]:
# Merge active and new claims data into one for gender
gender =  join(gender_long_df, gender_long_df2,  on=[:years,:features], kind=:inner) |> DataFrame
rename!(gender, Dict(:features => :gender))

14×4 DataFrame
│ Row │ gender  │ years │ active_claims │ new_claims │
│     │ String? │ Cat…  │ String?       │ String?    │
├─────┼─────────┼───────┼───────────────┼────────────┤
│ 1   │ Female  │ 2011  │ 23,010        │ 16,642     │
│ 2   │ Male    │ 2011  │ 25,948        │ 15,657     │
│ 3   │ Female  │ 2012  │ 22,744        │ 16,321     │
│ 4   │ Male    │ 2012  │ 25,172        │ 15,360     │
│ 5   │ Female  │ 2013  │ 23,365        │ 16,865     │
│ 6   │ Male    │ 2013  │ 25,834        │ 15,580     │
│ 7   │ Female  │ 2014  │ 22,483        │ 16,658     │
│ 8   │ Male    │ 2014  │ 25,058        │ 15,840     │
│ 9   │ Female  │ 2015  │ 23,157        │ 18,639     │
│ 10  │ Male    │ 2015  │ 25,433        │ 17,506     │
│ 11  │ Female  │ 2016  │ 24,402        │ 19,488     │
│ 12  │ Male    │ 2016  │ 26,621        │ 18,390     │
│ 13  │ Female  │ 2017  │ 24,957        │ 19,704     │
│ 14  │ Male    │ 2017  │ 27,247        │ 18,892     │

In [37]:
# Merge active and new claims data into one for age
age =  join(age_long_df, age_long_df2,  on=[:years,:features], kind=:inner)
rename!(age, Dict(:features => :age))

56×4 DataFrame
│ Row │ age                   │ years │ active_claims │ new_claims │
│     │ String?               │ Cat…  │ String?       │ String?    │
├─────┼───────────────────────┼───────┼───────────────┼────────────┤
│ 1   │ 00 to 19 Years of age │ 2011  │ 9,303         │ 6,465      │
│ 2   │ 20 to 29 Years of age │ 2011  │ 11,318        │ 7,562      │
│ 3   │ 30 to 39 Years of age │ 2011  │ 8,029         │ 4,650      │
│ 4   │ 40 to 49 Years of age │ 2011  │ 8,415         │ 5,170      │
│ 5   │ 50 to 59 Years of age │ 2011  │ 6,030         │ 4,034      │
│ 6   │ 60 to 69 Years of age │ 2011  │ 3,264         │ 2,379      │
│ 7   │ 70 to 79 Years of age │ 2011  │ 1,653         │ 1,259      │
│ 8   │ 80 Years and older    │ 2011  │ 946           │ 780        │
│ 9   │ 00 to 19 Years of age │ 2012  │ 8,485         │ 5,863      │
│ 10  │ 20 to 29 Years of age │ 2012  │ 11,126        │ 7,438      │
⋮
│ 46  │ 60 to 69 Years of age │ 2016  │ 3,952         │ 3,115      │
│ 47  │ 70 to 79 Years of age │ 2016  │ 1,967         │ 1,666      │
│ 48  │ 80 Years and older    │ 2016  │ 972           │ 917        │
│ 49  │ 00 to 19 Years of age │ 2017  │ 8,291         │ 6,706      │
│ 50  │ 20 to 29 Years of age │ 2017  │ 12,311        │ 9,600      │
│ 51  │ 30 to 39 Years of age │ 2017  │ 8,627         │ 5,835      │
│ 52  │ 40 to 49 Years of age │ 2017  │ 8,408         │ 5,462      │
│ 53  │ 50 to 59 Years of age │ 2017  │ 7,262         │ 5,100      │
│ 54  │ 60 to 69 Years of age │ 2017  │ 4,244         │ 3,259      │
│ 55  │ 70 to 79 Years of age │ 2017  │ 2,096         │ 1,781      │
│ 56  │ 80 Years and older    │ 2017  │ 965           │ 853        │

In [38]:
# Merge active and new claims data into one for ethnicity
ethnicity =  join(ethnicity_long_df, ethnicity_long_df2,  on=[:years,:features], kind=:inner)
rename!(ethnicity, Dict(:features => :ethnicity))

35×4 DataFrame
│ Row │ ethnicity                     │ years │ active_claims │ new_claims │
│     │ Union{Missing, String}        │ Cat…  │ String?       │ String?    │
├─────┼───────────────────────────────┼───────┼───────────────┼────────────┤
│ 1   │ Asian                         │ 2011  │ 3,281         │ 2,784      │
│ 2   │ European                      │ 2011  │ 33,137        │ 21,170     │
│ 3   │ Maori                         │ 2011  │ 6,887         │ 4,450      │
│ 4   │ Other Ethnicities /Not stated │ 2011  │ 3,707         │ 2,320      │
│ 5   │ Pacific Peoples               │ 2011  │ 1,946         │ 1,575      │
│ 6   │ Asian                         │ 2012  │ 3,376         │ 2,917      │
│ 7   │ European                      │ 2012  │ 32,324        │ 20,661     │
│ 8   │ Maori                         │ 2012  │ 6,695         │ 4,311      │
│ 9   │ Other Ethnicities /Not stated │ 2012  │ 3,599         │ 2,271      │
│ 10  │ Pacific Peoples               │ 2012  │ 1,922         │ 1,521      │
⋮
│ 25  │ Pacific Peoples               │ 2015  │ 2,100         │ 2,049      │
│ 26  │ Asian                         │ 2016  │ 4,247         │ 4,042      │
│ 27  │ European                      │ 2016  │ 33,858        │ 23,416     │
│ 28  │ Maori                         │ 2016  │ 7,343         │ 5,842      │
│ 29  │ Other Ethnicities /Not stated │ 2016  │ 3,291         │ 2,368      │
│ 30  │ Pacific Peoples               │ 2016  │ 2,284         │ 2,210      │
│ 31  │ Asian                         │ 2017  │ 4,646         │ 4,401      │
│ 32  │ European                      │ 2017  │ 34,186        │ 23,420     │
│ 33  │ Maori                         │ 2017  │ 7,601         │ 6,015      │
│ 34  │ Other Ethnicities /Not stated │ 2017  │ 3,401         │ 2,596      │
│ 35  │ Pacific Peoples               │ 2017  │ 2,370         │ 2,164      │

In [39]:
# Merge active and new claims data into one for months
months =  join(months_long_df, months_long_df2,  on=[:years,:features], kind=:inner)
rename!(months, Dict(:features => :months))

84×4 DataFrame
│ Row │ months    │ years │ active_claims │ new_claims │
│     │ String?   │ Cat…  │ String?       │ String?    │
├─────┼───────────┼───────┼───────────────┼────────────┤
│ 1   │ January   │ 2011  │ 12,004        │ 2,416      │
│ 2   │ February  │ 2011  │ 12,521        │ 2,723      │
│ 3   │ March     │ 2011  │ 13,474        │ 3,075      │
│ 4   │ April     │ 2011  │ 12,078        │ 2,510      │
│ 5   │ May       │ 2011  │ 13,810        │ 2,989      │
│ 6   │ June      │ 2011  │ 13,128        │ 2,597      │
│ 7   │ July      │ 2011  │ 13,372        │ 2,652      │
│ 8   │ August    │ 2011  │ 13,266        │ 2,839      │
│ 9   │ September │ 2011  │ 13,495        │ 2,679      │
│ 10  │ October   │ 2011  │ 12,720        │ 2,510      │
⋮
│ 74  │ February  │ 2017  │ 13,865        │ 3,387      │
│ 75  │ March     │ 2017  │ 15,011        │ 3,400      │
│ 76  │ April     │ 2017  │ 14,844        │ 3,045      │
│ 77  │ May       │ 2017  │ 15,808        │ 3,707      │
│ 78  │ June      │ 2017  │ 15,236        │ 3,182      │
│ 79  │ July      │ 2017  │ 14,255        │ 3,155      │
│ 80  │ August    │ 2017  │ 14,914        │ 3,238      │
│ 81  │ September │ 2017  │ 14,409        │ 3,108      │
│ 82  │ October   │ 2017  │ 14,464        │ 3,028      │
│ 83  │ November  │ 2017  │ 14,624        │ 3,190      │
│ 84  │ December  │ 2017  │ 14,789        │ 3,021      │

In [40]:
# Merge active and new claims data into one for road factor
road =  join(road_factor_long_df, road_factor_long_df2,  on=[:years,:features], kind=:inner)
rename!(road, Dict(:features => :road_factor))

70×4 DataFrame
│ Row │ road_factor                    │ years │ active_claims │ new_claims │
│     │ Union{Missing, String}         │ Cat…  │ String?       │ String?    │
├─────┼────────────────────────────────┼───────┼───────────────┼────────────┤
│ 1   │ ATV                            │ 2011  │ 20            │ 10         │
│ 2   │ Cycling                        │ 2011  │ 2,470         │ 1,708      │
│ 3   │ Driving/Passenger - Bus        │ 2011  │ 730           │ 574        │
│ 4   │ Driving/Passenger - Car        │ 2011  │ 32,777        │ 22,939     │
│ 5   │ Driving/Passenger - Motorcycle │ 2011  │ 7,113         │ 3,644      │
│ 6   │ Driving/Passenger - Truck      │ 2011  │ 1,044         │ 481        │
│ 7   │ Driving/Passenger-Other Veh    │ 2011  │ 868           │ 618        │
│ 8   │ Not Obtainable                 │ 2011  │ 399           │ 22         │
│ 9   │ Other                          │ 2011  │ 196           │ 150        │
│ 10  │ Pedestrian                     │ 2011  │ 3,341         │ 2,153      │
⋮
│ 60  │ Pedestrian                     │ 2016  │ 2,984         │ 2,017      │
│ 61  │ ATV                            │ 2017  │ 52            │ 45         │
│ 62  │ Cycling                        │ 2017  │ 2,182         │ 1,461      │
│ 63  │ Driving/Passenger - Bus        │ 2017  │ 767           │ 587        │
│ 64  │ Driving/Passenger - Car        │ 2017  │ 34,122        │ 26,712     │
│ 65  │ Driving/Passenger - Motorcycle │ 2017  │ 7,589         │ 4,205      │
│ 66  │ Driving/Passenger - Truck      │ 2017  │ 1,111         │ 613        │
│ 67  │ Driving/Passenger-Other Veh    │ 2017  │ 2,584         │ 2,581      │
│ 68  │ Not Obtainable                 │ 2017  │ 511           │ 198        │
│ 69  │ Other                          │ 2017  │ 282           │ 210        │
│ 70  │ Pedestrian                     │ 2017  │ 3,004         │ 1,984      │

In [41]:
# Merge active and new claims data into one for region
region =  join(region_long_df, region_long_df2,  on=[:years,:features], kind=:inner)
rename!(region, Dict(:features => :region))

119×4 DataFrame
│ Row │ region            │ years │ active_claims │ new_claims │
│     │ String?           │ Cat…  │ String?       │ String?    │
├─────┼───────────────────┼───────┼───────────────┼────────────┤
│ 1   │ Northland         │ 2011  │ 2,168         │ 1,411      │
│ 2   │ Auckland          │ 2011  │ 13,615        │ 10,461     │
│ 3   │ Waikato           │ 2011  │ 4,954         │ 3,254      │
│ 4   │ Bay of Plenty     │ 2011  │ 2,769         │ 1,931      │
│ 5   │ Gisborne          │ 2011  │ 472           │ 312        │
│ 6   │ Hawkes Bay        │ 2011  │ 1,846         │ 1,190      │
│ 7   │ Taranaki          │ 2011  │ 1,115         │ 828        │
│ 8   │ Manawatu-Wanganui │ 2011  │ 2,780         │ 1,739      │
│ 9   │ Wellington        │ 2011  │ 3,706         │ 2,679      │
│ 10  │ Tasman            │ 2011  │ 359           │ 246        │
⋮
│ 109 │ Taranaki          │ 2017  │ 1,149         │ 896        │
│ 110 │ Manawatu-Wanganui │ 2017  │ 2,593         │ 1,945      │
│ 111 │ Wellington        │ 2017  │ 3,640         │ 2,873      │
│ 112 │ Tasman            │ 2017  │ 375           │ 281        │
│ 113 │ Nelson            │ 2017  │ 605           │ 446        │
│ 114 │ Marlborough       │ 2017  │ 458           │ 404        │
│ 115 │ Canterbury        │ 2017  │ 6,191         │ 5,095      │
│ 116 │ West Coast        │ 2017  │ 462           │ 374        │
│ 117 │ Otago             │ 2017  │ 2,404         │ 1,955      │
│ 118 │ Southland         │ 2017  │ 1,036         │ 849        │
│ 119 │ Other             │ 2017  │ 618           │ 344        │

## Write the dataframes to csv for use in further notebooks

In [44]:
gender |> CSV.write("gender.csv") 
age |> CSV.write("age.csv")
ethnicity |> CSV.write("ethnicity.csv")
months |> CSV.write("months.csv")
road |> CSV.write("road.csv")
region |> CSV.write("region.csv")

"region.csv"